*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  height: 100px;
  width: 100px;
  background-color: red;
  transition: background-color 5s  3s, width 8s, height 2s;
  display: inline-block;
}

.box:focus{
  background-color: blue;
  width: 500px;
  height: 300px;
  animation-name: pippo;
  animation-duration: 3s;
}

.container{
  border: 1px solid #000;
  width: 500px;
  height: 700px;
  position: relative;
}

.box-2{
  position: absolute;
  top: 0;
  left: 0;
  background-color: limegreen;
  width: 100px;
  height: 100px;
  animation-name: pippo;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pippo{
  0%{
    background-color: yellow;
    top: 80px;
    left: 50px;
  }

  25%{
    background-color: red;
    top: 30px;
    left: 30px;
  }

  50%{
    background-color: yellow;
    top: 80px;
    left: 50px;
    border-radius: 50%;
  }

  100%{
    background-color: red;
    top: 30px;
    left: 30px;
  }
}
