*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenitore-flex{
  background-color: pink;
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  /* flex-direction: column; */
}

/* .m-x-20{
  margin: 0 20px;
} */

.flex-item{
  width: calc(80%/3);
  height: 200px;
  /* height: 200px; */
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
}

.prices{
  margin: 0 auto;
  width: 80%;
  display: flex;
  border: 1px solid red;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* height: 100vh; */
}

.column{
  border: 1px solid black;
  width: calc( (100% / 3) - 40px );
  padding: 20px;
}

#main {
  width: 300px;
  height: 100px;
  border: 3px solid red;
  display: flex;
}
